.header {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background-color: rgb(15, 64, 171);
  padding: 8px 36px;
  width: 100%;
  height: auto;
}

.logo > img {
  height: 150px;
  width: 200px;
}

.navlist > li {
  list-style-type: none;
  border: rgb(255, 169, 9) 3px solid;
  border-radius: 5px;
  color: rgb(255, 169, 9);
  padding: 10px 10px;
  transition: 0.5s;
  cursor: pointer;
}

li:hover {
  transform: scale(1.2, 1.2);
}
.nav > ul {
  display: flex;
  gap: 20px;
}
