* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(26, 26, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  background-image: url("arcade-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 300px;
}
/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: #1a1a2e;
  color: #eaeaea;
}
h1 {
  color: red;
}
/* Form container styles */
.form_container {
  background-color: #071231;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #e43f5a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

/* Form element styles */
.form_container form {
  display: flex;
  flex-direction: column;
}

.form_container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #eaeaea;
}

.form_container input[type="text"],
.form_container button {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #e43f5a;
  font-size: 14px;
  background-color: #1f4068;
  color: #eaeaea;
  box-shadow: inset 0 0 5px #e43f5a;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

/* Input focus styles */
.form_container input[type="text"]:focus,
.form_container button:hover {
  border-color: #1f8fbc;
  box-shadow: 0 0 5px #1f8fbc;
}

/* Button styles */

.form_container button:hover {
  background-color: #e43f5a;
}

/* Filter input styles */
.form_container input[onChange] {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #e43f5a;
  background-color: #1f4068;
  color: #eaeaea;
}

/* Character button styles */
.form_container button {
  background-color: #162447;
  color: #eaeaea;
  border: 2px solid #e43f5a;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form_container button:hover {
  background-color: #1f4068;
}

/* Characters container styles */
.characters_container {
  background-color: #071231;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #e43f5a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 800px;
}

/* Characters list styles */
.characters_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characters_list li {
  padding: 10px;
  border-bottom: 1px solid #e43f5a;
}
