/* Container */
.container {
  background-color: #323a49;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

/* Title */
.title {
  font-size: 12px;
  color: #53ffaa;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

/* Body */
.body {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

/* Divisor */
.divisor {
  width: 100%;
  margin-top: 20px;
}
