.container {
  display: flex;
}
.formContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  max-width: 600px;
}

.spanInput {
  position: relative;
}

.spanSimbol {
  top: 50%;
  right: 90%;
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: rgb(229, 244, 251);
  font-weight: bold;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(40, 54, 62);
}

.clearAll {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: right;
}

.amountContainer,
.termContainer,
.rateContainer,
.mortgageTypeContainer,
.button {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.spanInputTerm,
.spanInputRate {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  padding-right: 2em;
}

.spanSimbolTerm,
.spanSimbolRate {
  position: absolute;
  right: 1px;
  pointer-events: none;
  background-color: rgb(229, 244, 251);
  width: 60px;
  height: 38px;
  font-weight: bold;
}
.spanSimbolRate {
  width: 40px;
  height: 38px;
}

.mortgageTypeContainer {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radioLabel {
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin-top: 20px;
  height: 50px;
  gap: 20px;
}

.radioLabel label {
  margin-left: 5px;
}

input[type="radio"] {
  margin: 0;
  font-weight: bold;
}

.button {
  text-align: center;
}

button[type="button"] {
  background-color: rgb(218, 219, 51);
  color: rgb(34, 57, 20);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
  font-weight: bold;
}

button[type="button"] img {
  margin-right: 10px;
}

.imgContainer {
  text-align: center;
  margin-top: 20px;
}

.resultContainer {
  background-color: #10303f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 474px;
  height: 513px;
  border-radius: 0px 0px 0px 30px;
  right: 100px;
}

.resultContainer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.resultContainer p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.result {
  background-color: rgb(12, 35, 49);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.result h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.result h1 {
  font-size: 36px;
  color: #cddd2e;
}
