* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #e3f4fc;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@import url(./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf);
